task: detection

evaluator:
  type: CocoEvaluator
  iou_types: ['bbox', ]

num_classes: 7 # vehicle dataset classes: car, motorcycle, bus, truck, trailer, bicycle, van
remap_mscoco_category: False

train_dataloader:
  type: DataLoader
  dataset:
    type: CocoDetection
    img_folder: /Users/testcase/Projects/D-FINE/data/vehicle_dataset/train/images
    ann_file: /Users/testcase/Projects/D-FINE/data/vehicle_dataset/train/annotations/instances_train.json
    return_masks: False
    transforms:
      type: Compose
      ops: ~
  shuffle: True
  num_workers: 4
  drop_last: True
  collate_fn:
    type: BatchImageCollateFunction


val_dataloader:
  type: DataLoader
  dataset:
    type: CocoDetection
    img_folder: /Users/testcase/Projects/D-FINE/data/vehicle_dataset/val/images
    ann_file: /Users/testcase/Projects/D-FINE/data/vehicle_dataset/val/annotations/instances_val.json
    return_masks: False
    transforms:
      type: Compose
      ops: ~
  shuffle: False
  num_workers: 4
  drop_last: False
  collate_fn:
    type: BatchImageCollateFunction
